:root{
  --highlight: white;
  --background: black;
  --border-radius: 10px;
}
@media only screen and (max-width: 600px){
  .link{
    flex-direction: column-reverse;
    
  }
  #new-quote{
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
}
.App {
  text-align: center;

}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#quote-box{
      background-color: var(--highlight);
      border-radius: var(--border-radius);
      color: var(--background);
      padding: 25px;

}
#author{
  background-color: var(--highlight);
  border-radius: var(--border-radius);
  color: var(--background);
  display: flex;
  justify-content: flex-end;
  
}
#tweet-quote{
  display: flex;
  border-radius: var(--border-radius);
  color: var(--highlight);
  padding: 10px;
  float: left;
  padding: 10px;
  text-decoration: none;
  align-self: center;
  justify-content: center;


}

#new-quote{

  background-color: var(--highlight);
  border-radius: var(--border-radius);
  color: var(--highlight);
  padding: 10px;
  border-radius: var(--border-radius);
  padding: 10px;
  border: none;
  cursor: pointer;
  float: right;

}
.link{
  border-radius: var(--border-radius);
  justify-content: space-between;
  min-height: 50px;
}
#text{
  font-weight: bold;
  margin-bottom: 0px;
}
#quotation{
  font-size: 30px;
  margin-right: 10px;
}
#welcome{
  padding-bottom: 30px;
}

#name{
  font-size: 15px;
}